/* Selector ini memilih semua elemen */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Selector ini memilih tag html */
body{
    background-color: yellow;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/* selector ini memilih class */

.title, h2{
    text-align: center;
}



/* Selector ini memilih id */
#gambar-saya{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 23px;
}